img{
    width: 250px;
    height: 50px;
    margin-left: 120px;
}
.carous img{
    height: 400px;
    margin-left: 1px;

}
ul{
    margin-left: 250px;
    text-underline-offset:below;
    
}
.navbar{
    background-color: rgba(99, 4, 112, 0.76);

}
.bar{
    padding: 0px;
}

